<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,800">
    <title>History Project | Home</title>
    <style>
        .view {
            width: 100%;
            height: 100%;
        }
        .view-1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-image: url("/images/background-2.png");
            background-size: 100% 100%;
        }
        .view-title-main {
            font-weight: 100;
            font-size: 90px;
            letter-spacing: 2px;
            text-shadow: 1px 2px rgba(0,0,0,0.3);
            color: rgba(255,255,255,0.8);
        }
        .view-title-second {
            font-size: 40px;
            letter-spacing: 1.9px;
            font-weight: 400;
            text-shadow: 0px 1px rgba(0,0,0,0.3);
            color: rgba(255,255,255,0.6);
        }
        .nav-bar {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            padding: 25px 50px;
            justify-content: space-around;
        }
        .nav-item {
            font-size: 22px;
            padding: 5px 15px;
            cursor: pointer;
            color: rgba(255,255,255,0.4);
        }
    </style>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-item item-">Loreum</div>
        <div class="nav-item item-">Ipsum</div>
        <div class="nav-item item-">Dolor</div>
        <div class="nav-item item-">Sit</div>
    </div>
    <div class="view view-1">
        <div class="view-title">
            <div class="view-title-main">
                The Irish Revolution    
            </div>
            <div class="view-title-second">
                A bloody Masacre from a failing state
            </div>
        </div>
    </div>
</body>
</html>